<div class="div-box">

  <div class="div-title">
      <h1>About me...</h1>
  </div>
  <div class="div-text">
<strong>Español:</strong>
Empece a programar a finales de 2020, probando lenguajes como C, C# y Python. En 2021 comence a adentrarme mucho en JavaScript, en especial del lado del back-end con Node.js, Express y MongoDB. Conocimientos en TypeScript, Angular, SQL. Me encanta la programacion orientada a objetos.
...
<strong>English:</strong>
I've been studying programming since late 2020, trying languages such as C, C# and Python. On 2021, I specialized a lot on JavaScript, mainly oriented on back-end with technologies such as Node.js, Express and MongoDB. I also have knowledge in TypeScript, Angular and SQL. I really like object oriented programming.
  </div>

</div>
