<div class="div-box">

  <div class="div-btns">
    <button (click)="cancelEdit()" class="cancel-btn"><fa-icon [icon]="faXmark"></fa-icon></button>
    <button (click)="saveEdit()" class="save-btn"><fa-icon [icon]="faCheck"></fa-icon></button>
  </div>
  <div class="div-education">
      <div class="div-title">
          <h1>Education</h1>
          <div class="div-new-el">
            <label><strong> Add a new achievement </strong></label>
            <button class="add-btn" (click)="addEducation()"><fa-icon [icon]="faPlus"></fa-icon></button>
          </div>
      </div>

      <div *ngFor="let education of educationData" class="div-item">
          <img class="icon icon-edit" [src]="education.icon">
          <input type="text" class="input-title-edit input-hover" required [value]="education.title" [(ngModel)]="education.title">
          <input type="text" class="input-edit input-hover" required [value]="education.date" [(ngModel)]="education.date">
          <button class="del-btn" (click)="popEducation(education.id)"><fa-icon [icon]="faMinus"></fa-icon></button>
      </div>

  </div>

</div>

