<div class="div-box">

  <div class="div-btns">
    <button (click)="cancelEdit()" class="cancel-btn"><fa-icon [icon]="faXmark"></fa-icon></button>
    <button (click)="saveEdit()" class="save-btn"><fa-icon [icon]="faCheck"></fa-icon></button>
  </div>
  <div class="div-education">
      <div class="div-title">
          <h1>Education</h1>
      </div>

      <div *ngFor="let education of educationData" class="div-education-item">
          <img [src]="education.icon">
          <p class="education-title">{{ education.title }}</p>
          <p class="education-date">{{ education.date }}</p>
      </div>

  </div>

</div>

