<div class="div-box">

  <div class="div-btns">
    <button (click)="cancelEdit()" class="cancel-btn"><fa-icon [icon]="faXmark"></fa-icon></button>
    <button (click)="saveEdit()" class="save-btn"><fa-icon [icon]="faCheck"></fa-icon></button>
  </div>
  <div class="div-skills">
      <div class="div-title">
          <h1>Skills</h1>
          <div class="div-new-skill">
            <label><strong> Add a new skill </strong></label>
            <button (click)="addSkill()"><fa-icon [icon]="faPlus"></fa-icon></button>
          </div>
      </div>

      <div *ngFor="let skill of skillsData" class="div-progressV2">
          <div class="div-progress-item">
              <button (click)="popSkill(skill.id)"><fa-icon [icon]="faMinus"></fa-icon></button>
              <input type="text" [value]="skill.skill"> <br/>
              <label>Value:
                <input style="width: 55px" type="number" min="0" max="100"
                [placeholder]="skill.value" (change)="changeProgress($event, skill)">
              </label>
              <progress [id]="skill.id" max="100" [value]="skill.value"></progress>
          </div>
      </div>

  </div>

</div>
