@import url(./../../../styles.css);
@import url(./../skills/skills.component.css);

.div-item{
  width: 49%;
  display: inline-flex;
  padding: 0px 25px 8px 25px;
}

.div-skill-edit{
  position: relative;
  width: 100%;
  height: 80px;
  padding: 10px 0px 0px 10px;
  border: 1px dashed rgb(0, 0, 0, 0.5);
  gap: 100px;
}

.input-edit{
  width: 60%;
}

.div-item progress{
  margin-top: 10px;
  width: 60%;
}

.del-btn{
  position: absolute;
  top: 0;
  right: 0;
  margin: 4px;
}

.div-item label{
  position: absolute;
  top: 1;
  right: 0;
  margin: 3px;
}

@media screen and (max-width: 800px) {
  .div-item{
    display: block;
    width: 100%;
  }
}
