@import url(./../../../styles.css);
@import url(./../projects/projects.component.css);

.input-title-edit{
  margin-top: 15px;
  width: 300px;
  font-weight: 500;
  font-size: 18px;
}

textarea.input-edit{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color:rgba(0, 0, 0, 0.6);
  display: block;
  position: flex;
  width: 80%;
  height: 100%;
  margin-top: 5px;
  overflow: hidden;
  resize: none;
  min-height: 50px;
}

.del-btn{
  margin: 4px;
}

@media screen and (max-width: 800px) {
  .input-title-edit{
    width: 200px;
  }
  textarea.input-edit{
    width: 60%;
  }
}
