<div class="div-box">

  <div class="div-btns">
    <button (click)="cancelEdit()" class="cancel-btn"><fa-icon [icon]="faXmark"></fa-icon></button>
    <button (click)="saveEdit()" class="save-btn"><fa-icon [icon]="faCheck"></fa-icon></button>
  </div>
  <span class="annotation" *ngIf="loading">Please wait... </span><app-small-loading class="loading-pos" *ngIf="loading"></app-small-loading>
  <div class="div-projects">
    <div class="div-title">
      <h1>Projects</h1>
      <div class="div-new-el">
        <label><strong> Add a new project </strong></label>
        <button class="add-btn" (click)="addProject()"><fa-icon [icon]="faPlus"></fa-icon></button>
      </div>
    </div>

    <div *ngFor="let project of projectsData" class="div-project-item">
      <img class="icon icon-edit" [src]="project.icon" (click)="selectIcon.click()">
      <input type="file" accept="image/*" (change)="getImage($event, project?.id)" style="display: none" #selectIcon>
      <input type="text" class="input-title-edit input-hover" [value]="project.name" [(ngModel)]="project.name" placeholder="Title...">
      <input type="text" class="input-url-edit input-hover" [value]="project.link" [(ngModel)]="project.link" placeholder="URL (optional)" style="width: 30%; font-weight: 400;">
      <button class="del-btn" (click)="popProject(project?.id)"><fa-icon [icon]="faMinus"></fa-icon></button>
<textarea autosize class="input-edit input-hover" [value]="project.description" [(ngModel)]="project.description" placeholder="Description..."></textarea> <br/>
    </div>

    <div class="div-title">
      <h1>Coming soon...</h1>
    </div>
    <h4>- Youtube MP3 & MP4 downloader...</h4>
    <h4>- Twitter's friends birthday reminder...</h4>
    <p>- Remake my previous JavaScript projects to TypeScript...</p>
  </div>

</div>
