<div class="div-box">

  <div class="div-btns">
    <button (click)="cancelEdit()" class="cancel-btn"><fa-icon [icon]="faXmark"></fa-icon></button>
    <button (click)="saveEdit()" class="save-btn"><fa-icon [icon]="faCheck"></fa-icon></button>
  </div>
  <div class="div-projects">
      <div class="div-title">
          <h1>Projects</h1>
          <div class="div-new-project">
            <label><strong> Add a new project </strong></label>
            <button (click)="addProject()"><fa-icon [icon]="faPlus"></fa-icon></button>
          </div>
      </div>

      <div *ngFor="let project of projectsData" class="div-project-item">
          <img class="img-edit" [src]="project.icon">
          <input type="text" class="project-edit-name" required [value]="project.name" [(ngModel)]="project.name">
          <button (click)="popProject(project.id)"><fa-icon [icon]="faMinus"></fa-icon></button>
<textarea autosize class="project-edit-info">
{{ project.description }}
</textarea>
      </div>

      <div class="div-title">
          <h1>Coming soon...</h1>
      </div>
      <h4>- Youtube MP3 & MP4 downloader...</h4>
      <h4>- Twitter's friends birthday reminder...</h4>
      <p>- Remake my previous JavaScript projects to TypeScript...</p>
  </div>

</div>
