<div class="div-box">

  <div class="div-btns">
    <button (click)="cancelEdit()" class="cancel-btn"><fa-icon [icon]="faXmark"></fa-icon></button>
    <button (click)="saveEdit()" class="save-btn"><fa-icon [icon]="faCheck"></fa-icon></button>
  </div>
  <div class="div-projects">
      <div class="div-title">
          <h1>Projects</h1>
      </div>

      <div *ngFor="let project of projectsData" class="div-project-item">
          <img [src]="project.icon">
          <a class="project-name" [href]="project.link">{{ project.name }}</a>
          <p class="project-info">{{ project.description }}</p>
      </div>

      <div class="div-title">
          <h1>Coming soon...</h1>
      </div>
      <h4>- Youtube MP3 & MP4 downloader...</h4>
      <h4>- Twitter's friends birthday reminder...</h4>
      <p>- Remake my previous JavaScript projects to TypeScript...</p>
  </div>

</div>
