@import url(./../../../styles.css);
@import url(./../header/header.component.css);

.header-save-btn{
  position: absolute;
  bottom: -60px;
  left: 300px;
  height: 35px;
  width: 35px;
  border-radius: 20px;
}

.header-save-btn:hover{
  border: 3px solid rgba(31, 195, 22);
  background-color: rgba(31, 195, 22, 0.3);;
}

.header-cancel-btn{
  position: absolute;
  bottom: -60px;
  left: 245px;
  height: 35px;
  width: 35px;
  border-radius: 20px;
}

.header-cancel-btn:hover{
  border: 3px solid rgb(255, 0, 0);
  background-color: rgb(255, 0, 0, 0.3);;
}

.banner:hover, .pp:hover{
  filter: brightness(50%);
}

.input-title-edit{
    width: 350px;
    font-weight: 500;
    font-size: 20px;
}

.input-edit{
  width: 250px;
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  display: block;
}

