<div class="div-box">

  <div class="div-banner">
      <img class="banner" [src]="headerData.banner">
  </div>
  <div class="div-pp">
      <img class="pp" [src]="headerData.pp">
      <button (click)="cancelEdit()" class="header-cancel-btn"><fa-icon [icon]="faXmark"></fa-icon></button>
      <button (click)="saveEdit()" class="header-save-btn"><fa-icon [icon]="faCheck"></fa-icon></button>
  </div>
  <br/> <br/> <br/> <br/>
  <div class="div-user">
    <input type="text" class="input-title-edit input-hover" required [value]="headerData.name" [(ngModel)]="headerData.name">
      <div class="div-user-info">
        <input type="text" class="input-edit input-hover" required [value]="headerData.position" [(ngModel)]="headerData.position">
        <input type="text" class="input-edit input-hover" required [value]="headerData.country" [(ngModel)]="headerData.country">
      </div>
  </div>

</div>


