<div class="div-box">

  <div class="div-projects">
      <div class="div-title">
          <h1>Projects</h1>
      </div>
      <div class="div-project-item">
          <img src="https://cdn-icons-png.flaticon.com/512/57/57589.png">
          <a class="project-name" href="https://github.com/Dioonel/REST-API">e-Commerce</a> <br/> <br/>
          <span class="project-info">Full e-Commerce website. Back-end & API made with Node.js, Express, MongoDB (Mongoose), Passport and JWT. Basic front-end made with native HTML, CSS and JavaScript.</span>
      </div>
      <br/>
      <div class="div-project-item">
          <img src="https://a.slack-edge.com/80588/img/calendar/calendar-emoji.png">
          <a class="project-name" href="https://github.com/Dioonel/CalculadoraTiempo">Date calculator</a> <br/> <br/>
          <span class="project-info">Calculate how many time exists between 2 dates. Made with Python, using mathematic algorithms and programming logic, without any libraries nor other facilities.</span>
      </div>

      <div class="div-title">
          <h1>Coming soon...</h1>
      </div>
      <h4>- Youtube MP3 & MP4 downloader...</h4>
      <h4>- Twitter's friends birthday reminder...</h4>
      <p>- Remake my previous JavaScript projects to TypeScript...</p>
  </div>

</div>
