<div class="div-box">

    <div class="div-banner">
        <img class="banner" src="https://media.istockphoto.com/photos/abstract-blurred-gradient-background-in-bright-colors-colorful-smooth-picture-id1071588902?k=20&m=1071588902&s=612x612&w=0&h=I0UoBsEAamAalXy_Npx5cB9qBk4XC_kJKPpRON1WZ6g=">
    </div>
    <div class="div-pp">
        <img class="pp" src="https://sun1-26.userapi.com/s/v1/ig2/GeIfqi0W-yTGMSkpE4ZYnteNYwlRKssAM9ak01CUi7u5ftbGsHFh8rK7CxB_y3D8cq4p_KlzRCtqF3A0o93_q6eC.jpg?size=400x400&quality=95&crop=0,0,511,511&ava=1">
        <button><fa-icon [icon]="faEdit"></fa-icon></button>
    </div>
    <br/> <br/> <br/> <br/>
    <div class="div-user">
        <h3> Dionel Martinez </h3>
        <div class="div-user-info">
            <p> Back-end Developer </p>
            <p> Argentina </p>
        </div>
    </div>

</div>

