<div class="div-box">

  <div class="div-btns">
    <button (click)="cancelEdit()" class="cancel-btn"><fa-icon [icon]="faXmark"></fa-icon></button>
    <button (click)="saveEdit()" class="save-btn"><fa-icon [icon]="faCheck"></fa-icon></button>
  </div>
  <div class="div-title">
      <h1>About me...</h1>
  </div>
  <div class="div-text">
<strong>Español:</strong>
<textarea autosize class="input-edit input-hover" [value]="aboutData.spanish" [(ngModel)]="aboutData.spanish"></textarea>


<strong>English:</strong>
<textarea autosize class="input-edit input-hover" [value]="aboutData.english" [(ngModel)]="aboutData.english"></textarea>
  </div>

</div>
