/* You can add global styles to this file, and also import other style files */
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css";

.div-box{
  width: 100%;
  margin: 10px 0px;
  border: 1px solid #4e4e4e;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-color: rgb(230, 232, 230, 0.3);
  position: relative;
}

.div-title{
  padding: 20px 0px 0px 20px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.div-project-item, .div-education-item{
  width: 100%;
  float: left;
}

.div-project-item img, .div-education-item img{
  border: 1px solid black;
  margin: 15px 10px 35px 20px;
  padding: 5px;
  width: 75px;
  float: left;
  background-color: white;
}

.project-name, .education-title{
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  display: block;
  position: relative;
  margin-top: 15px;
  margin-bottom: 10px;
}

.project-name:hover{
  text-decoration: underline;
}

.project-info, .education-date{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color:rgba(0, 0, 0, 0.6);
  display: block;
  position: static;
}

.div-projects h4, .div-projects p{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color:rgba(0, 0, 0, 0.6);
  padding: 0px 0px 5px 40px;
}

.div-box .edit-btn{
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px 5px 0px 0px;
  border-radius: 20px;
}

.edit-btn:hover{
  background-color: orange;
}

.div-btns{
  position: absolute;
  right: 0;
  top: 0;
}
