/* You can add global styles to this file, and also import other style files */
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css";

.div-box{
  width: 100%;
  margin: 10px 0px;
  border: 1px solid #4e4e4e;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-color: rgb(230, 232, 230, 0.3);
  position: relative;
}

.div-title{
  padding: 20px 0px 0px 20px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.project-name, .education-title{
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  position: relative;
  margin-top: 15px;
  margin-bottom: 10px;
}

.project-name:hover{
  text-decoration: underline;
}

.project-info, .education-date{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color:rgba(0, 0, 0, 0.6);
  display: block;
  position: static;
}

.div-projects h4, .div-projects p{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color:rgba(0, 0, 0, 0.6);
  padding: 0px 0px 5px 40px;
}

.div-box .edit-btn{
  width: 35px;
  height: 35px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px 5px 0px 0px;
  border-radius: 20px;
}

.edit-btn:hover{
  border: 3px solid orange;
}

.div-btns{
  position: absolute;
  right: 0;
  top: 0;
}

.save-btn{
  width: 35px;
  height: 35px;
  margin: 5px 5px 0px 0px;
  border-radius: 20px;
}

.cancel-btn{
  width: 35px;
  height: 35px;
  margin: 5px 5px 0px 0px;
  border-radius: 20px;
}

.save-btn:hover{
  border: 3px solid rgba(31, 195, 22);
  background-color: rgba(31, 195, 22, 0.3);;
}

.cancel-btn:hover{
  border: 3px solid rgb(255, 0, 0);
  background-color: rgb(255, 0, 0, 0.3);;
}

.div-new-el{
  padding: 5px;
  margin: 5px 0px 15px 0px;
  display: inline-flex;
  gap: 10px;
  font-style: normal;
}

.div-new-el label{
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.add-btn{
  width: 35px;
  height: 35px;
  border-radius: 20px;
  background-color: rgb(168, 222, 255);
}

.add-btn:hover{
  background-color: rgb(0, 157, 255);
}

.del-btn{
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: rgb(255, 156, 152);
}

.del-btn:hover{
  background-color: rgb(255, 104, 99);
}

.icon{
  border: 1px solid black;
  margin: 15px 10px 25px 20px;
  padding: 5px;
  width: 75px;
  height: 75px;
  float: left;
  background-color: white;
}

.input-title-edit, .input-edit, .input-url-edit{
  border: none;
  background-color: rgb(128, 128, 128, 0.3);
  border-radius: 5px;
  padding: 3px;
}

.input-title-edit:hover, .input-hover:hover, .input-url-edit:hover{
  background-color: rgb(128, 128, 128, 0.6);
}

.hidden{
  display: none;
}

.link-manual-hover{
  background-color: rgb(128, 128, 128, 0.5);
  border: 2px solid black;
}
