@import url(./../../../styles.css);

.blur{
  filter: blur(4px) brightness(0.5);
  background-color: grey;
  transform: scale(1.1);
}

.loading-div{
  display: none;
}

.loading-msg-hidden{
  display: none;
}

.loading-msg{
  display: grid;
  place-items: center;
  margin-top: 80px;
}
